.base {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding-left: 9px;
  padding-right: 9px;
  overflow: hidden;
  background-color: #FF4343; 
}
/* 
a{
  display: block;
  position: relative;
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  color: black;
  background: transparent;
  padding: 20px;
  border: 3px solid black;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  width: 160px;
  overflow: hidden;
} */

.text {
  z-index: 5;
  position: relative;
  transition: color 550ms cubic-bezier(.165,.84,.44,1);
}
.base:hover span{
  color: white;
}

.base::after, .base::before{
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #cc3535;
  z-index: -1;
}

.base::before {
/*   background: blue; */
  transform: translateX(-100%);
  z-index: 1;
}

.base:hover:before {
  transform: translateX(0);
  transition: transform 550ms cubic-bezier(.165,.84,.44,1);
}

.base::after {
   z-index: 0;
  transform: translateX(100%);
  transition: none;
  transition: transform 550ms cubic-bezier(.165,.84,.44,1);
}

.base:hover:after {
  opacity: 1;
  transform: translateX(0);
 transition: transform 550ms 560ms cubic-bezier(.165,.84,.44,1);
}


@media only screen and (min-width: 350px) {
    .base {
      min-width: 190px;
      padding-left: 25px;
      padding-right: 25px;
    }
}
