.base {
  border: none;
  padding: 9px 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.defaultBackground {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-color: #FF4343; 
}

.text {
  position: relative;
}

.arrow {
  position: absolute;
  right: -15px;
  top: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 400ms ease, transform 400ms ease;  
}

.base:hover .arrow {
  opacity: 1;
  transform: translateY(0px);
}

.hoverBackground {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  background-color: rgb(212, 47, 68);
  width: 0%;
  transition: width 400ms ease-in-out, transform 400ms ease;
}

.base:hover .hoverBackground{
  width: 100%;
}

@media only screen and (min-width: 350px) {
    .base {
      padding: 9px 22px;
    }
}
