.selectContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.selectContainer > div {
  flex: 1;
  margin: 0 16px;
  text-align: center;
  color: #414141;
}