.container {
  display: flex;
  flex-direction: column;
}

.done.container {
  animation: fadeAway 550ms 1.5s ease;
  animation-fill-mode: forwards;  
}

.loadingBar{
  width: 45%;
  margin: 0 auto; 
  margin-top: 60px;
}

@keyframes fadeAway {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}