.container{
  float: left;
  overflow: hidden;
}

.container.inner{
  transform: translate3d(0,100%,0);
  opacity: 0;
  transition: transform 1000ms ease, opacity 1000ms ease;
}

.container.animate {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
}

.reset {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  opacity: inherit;
  line-height: inherit;
  color: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  display: inherit;
  flex-wrap: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin: 0;
  padding: 0;
}
