
.aboutFull {
  height: 100%;
  margin-bottom: 76px;
}

.aboutFullFlex {
  display: flex;
  height: 100%;
  align-items: center;
}

.header p{
  max-width: 420px;
}

.investorHeadline h2 {
  max-width: 290px;
}

.headerNoButton {
  margin-bottom: 36px;
}


.headerContainer{
  margin: 0;
}


@media only screen and (min-width: 540px) {

  .investorHeadline h2{
    max-width: 100%;
  }
}

@media only screen and (min-width: 750px) {

  .headerNoButton {
    margin-bottom: 62px;
  }

  .aboutFull {
    margin-bottom: 168px;
  }

  .headerContainer {
    margin: 0 auto;
  }

}


