.masthead {
  margin-bottom: 76px;
  box-shadow: 0 22px 24px 0 rgba(0,0,0,0.06);
}

.headerBlock {
  margin-bottom: 76px;
}

.aboutFull {
  max-height: 500px;
}

.investorSection {
  margin-bottom: 62px;
}



@media only screen and (min-width: 750px) {
  .masthead {
    margin-bottom: 168px;
  }

  .investorSection {
    margin-bottom: 112px;
  }
/* 
  .headerBlock {
    margin-bottom: 15.4vh;
  } */
  
}

