.masthead {
  height: 90vh;
  margin-bottom: 76px;
  align-items: flex-end;
  box-shadow: 0 22px 24px 0 rgba(0,0,0,0.06);
  min-height: 500px;
  overflow: hidden;
}

.headerBlock {
  margin-top: 0px;
  margin-bottom: 76px;
}

.aboutFull {
  /* height: 49vw; */
  height: 435px;
  /* max-height: 700px; */
  margin-bottom: 76px;
}

.investorSection {
  margin-bottom: 62px;
}

.headerNoButton {
  margin-bottom: 36px;
}

.bioContainer {
  margin-bottom: 56px;
}

.teamHeadline h2 {
  max-width: 230px;
}

.investorHeadline h2 {
  max-width: 290px;
}

@media only screen and (min-width: 420px) {

  .headerBlock {
    margin-top: 13.7vh;
    margin-bottom: 0;
  }

  .aboutFull {
    height: 49vw;
    min-height: 400px;
    max-height: 700px;
    margin-bottom: 76px;
  }

  .masthead {
    align-items: center; 
    height: 100vh;
    min-height: 600px;
  }
  
}

.manifestoCenterBlock {
  max-width: 400px;
}

@media only screen and (min-width: 540px) {
  .teamHeadline h2{
    max-width: 100%;
  }

  .investorHeadline h2{
    max-width: 100%;
  }
}

@media only screen and (min-width: 640px) {
  .manifestoCenterBlock {
    max-width: 572px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (min-width: 750px) {
  .masthead {
    margin-bottom: 168px;
  }

  .investorSection {
    margin-bottom: 112px;
  }
  
  .aboutFull {
    margin-bottom: 168px;
  }

  .headerNoButton {
    margin-bottom: 62px;
  }

  .bioContainer {
    margin-bottom: 82px;
  }
}

