.masthead {
  margin-bottom: 76px;
  align-items: flex-end;
  box-shadow: 0 22px 24px 0 rgba(0,0,0,0.06);
}

.headerBlock {
  margin-top: 0px;
  margin-bottom: 10.4vh;
}

.aboutFull {
  max-height: 500px;
}

.investorSection {
  margin-bottom: 62px;
}


@media only screen and (min-width: 420px) {

  .headerBlock {
    margin-top: 124px;
    margin-bottom: 0;
  }

  .masthead {
    align-items: center; 
  }
  
}



@media only screen and (min-width: 750px) {
  .masthead {
    margin-bottom: 168px;
  }

  .investorSection {
    margin-bottom: 112px;
  }

  .headerBlock {
    margin-top: 163px;
  }
  
}

