.outer {
  flex-grow: 1;
  width: auto;
  display: flex;
  justify-content: flex-start;
  transform: translateY(20%);
  transition: transform 1s ease;
}

.outer.animate {
  transform: translateY(0%);
}



.container {
  display: flex;
  height: 100px;
  margin-bottom: 42px;
  max-width: 370px;
}

.imageContainer {
  min-width: 100px;
  min-height: 100px;
  justify-content: center;
  flex-basis: auto;
  flex: 1;
  align-items: center;
  display: flex;
  margin-right: 12px;
  border: 1px solid #5A5A5A;
}

.iconCircle{
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.iconCircle img{
  max-width: 50%;
}


.info{
  display: flex;
  flex-direction: column;
}

.info div {
  flex: 1;
  display: flex;
  align-items: center;
}

.info div + div {
  align-items: flex-start;
}

.info p {
  font-size: 13px;
  color: #7b7b7b;
  letter-spacing: -0.32px;
}


@media screen and (min-width: 700px) {
  .outer {
    width: 50%;
  }

  .container {
    margin-bottom: 86px;
  }

  .outer:nth-child(odd) {
    justify-content: flex-end;
  }

  .outer:nth-child(even) {
    justify-content: flex-start;
  }
  
  .outer:nth-child(odd) .container {
    margin-right: 16px;
  }

  .imageContainer {
    margin-right: 10px;
  }

  .info p {
    font-size: 13px;
  }
}


@media screen and (min-width: 900px) {
  .info p {
    font-size: 15px;
  }

  .imageContainer  {
    margin-right: 27px;
  }

  .outer:nth-child(odd) .container {
    margin-right: 27px;
  }
}

