.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.container  h3{
  color: white;
  letter-spacing: -0.34px;
}

.container p{
  color: white;
  opacity: 1;
}

.details {
  text-align: right;
}

.details p{
  font-size: 16px;
}

.details p + p{
  font-size: 15px;
  opacity: .5;
}