.container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px 0;
  transition: padding 350ms ease;
}

.container:hover h3{
  color: #7b7b7b !important;
}

.container h3{
  text-transform: none;
  color: white;
  letter-spacing: -0.34px;
  font-size: 19px;
  transition: color 350ms ease;
}

.container p{
  text-transform: none;
  color: white;
  opacity: 1;
}

.details {
  text-align: right;
}

.details p{
  text-transform: none;
  font-size: 16px;
}

.details p + p{
  font-size: 15px;
  opacity: .5;
}


@media only screen and (min-width: 650px) {
  .container{
    align-items: center;
  }

  .container h3{
    font-size: 24px;
  }
}
