.outerContainer {
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.container {
  float: left;
  height: 0;
  cursor: pointer;
}

.image{
  width: 120px;
}

.link{
  display: inline-block;
  transform: translateY(56px);
}

.first {
  transition: transform 500ms 700ms ease, opacity 500ms 700ms ease;
}
