.outerContainer {
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.container {
  float: left;
  height: 0;
  cursor: pointer;
}

.menu{
  position: absolute;
  right: 30px;
  top: 43px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: right;
}


.menu a:hover {
  opacity: 1;
}

.darkMenu .mainLink, .darkMenu .subLink{
  color: #7B7B7B;
}

.darkMenu .mainLink.active, .darkMenu .subLink.active{
  opacity: 1;
}

.mainLink {
  font-family: 'MaisonNeueBold';
  line-height: 1.5;
  color: white;
  opacity: .6;
  text-transform: none;
  font-size: 24px;
  letter-spacing: -0.34px;
  transition: opacity 350ms ease;
}

.subLink{
  color: white;
  opacity: .6;
  transition: opacity 350ms ease;
}

.topSub{
  margin-bottom: 8px;
  display: inline-block;
}

.mainLink.active, .subLink.active {
  opacity: 1;
  position: relative;
}

.mainLink.active::after, .subLink.active::after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 16px;
  right: -30px;
  top: 10px;
  background-color: white;
}

.mainLink + .mainLink {
  margin-bottom: 23px;
}

.image{
  width: 120px;
}

.link{
  z-index: 10;
  position: absolute;
  left: 30px;
  top: 45px;
}

.first {
  transition: transform 500ms 700ms ease, opacity 500ms 700ms ease;
}

@media only screen and (min-width: 750px) {
  .link{
    left: 45px;
  }
  .menu{
    right: 45px;
  }
  .mainLink.active::after, .subLink.active::after {
    right: -45px;
  }
}
