.container {
  width: 100%;
  max-width: 545px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.largeBody.container {
  max-width: 950px;
}

.description {
  margin-bottom: 8px;
  float: left;
  clear: both;
}

.headline {
  margin-bottom: 16px;
  letter-spacing: -1.2px;
  float: left;
  clear: both;
}

.body {
  margin-bottom: 32px;
  max-width: 100%;
  float: left;
  clear: both;
}

.largeBody .body {
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 35px;
}

.calloutContainer {
  margin-top: 16px;
  display: flex;
  align-items: left;
  flex-direction: column;
  float: left;
  clear: both;
}

.calloutContainer a{
  margin-bottom: 24px;
}

.secondaryCallout {
  color: #7B7B7B;
  border-bottom: 1px rgba(151, 151, 151, 0.4) solid;
  transition: border-bottom .35s ease-in;
}

.secondaryCallout:hover {
  color: #7B7B7B;
  border-bottom: 1px #7B7B7B solid;
}

.whiteTheme *{
  color: white;
}

.whiteTheme p{
  opacity: 1;
}


@media only screen and (min-width: 750px) {

  .description {
    margin-bottom: 40px;
  }

  .headline {
    margin-bottom: 40px;
    letter-spacing: -1.92px;
  }

  .body {
    margin-bottom: 48px;
    max-width: 385px;
  }

  .largeBody .body {
    max-width: 100%;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 30px;
  }

  .calloutContainer {
    flex-direction: row;
    align-items: center;
  }
}
