.slide {
  width: 100%;
  height: 575px;
  position: relative;
}

.imageContainer {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.info {
  position: absolute;
  bottom: 36px;
  right: 36px;
  color: white;
  display: flex;
  align-items: center;
}

.name {
  color: white;
  font-size: 20px;
  font-family: "MaisonNeueBold";
  letter-spacing: -0.29px;
  padding-right: 13px;
}

.title {
  color: white;
  font-size: 13px;
  letter-spacing: 0.87px;
  text-transform: uppercase;
  font-family: "MaisonNeueBook",
}
