.stickyContainer{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.logo{
  position: absolute;
  width: 25px;
  left: 20px;
  bottom: 36px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s ease, transform .5s .2s ease;
  transform: rotate(45deg);
}

.active .logo {
  opacity: 1;
  transform: rotate(0);
}
.container{
  /* background-color: transparent; */
  background-color: white;
  /* height: 5vw;
  max-height: 100px;
  min-height: 50px; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
  transition: background-color .5s ease;
}

.container .menu a{
  color: #191919;
  opacity: 0.6;
  margin-right: 38px;
}

.active .container {
  background-color: white;
}