  .nav{
    display: flex;
    flex-direction: row;
  }

  .navContainer {
    position: relative;
    height: 100%;
  }

  .tab{
    position: relative;
    display: flex;
    align-self: center;
    overflow: hidden;
    margin-right: 32px;
  }

  .dark .tab a{
    color: rgba(255, 255, 255, 0.6);
  }

  .pointer{
    height: 2px;
    position: absolute;
    background-color: #FF4343;
    transition: width .35s ease, left .35s ease, height .5s ease;
  }

  .pointer.hidden{
    height: 0;
  }
  
