.quoteBlockContainer {
  display: flex;
  align-items: center;
}

.quoteTextBlock {
  margin-bottom: 48px;
  text-align: left;
  align-items: flex-start;
  width: 50%;
}

.quoteTextBlock h2{
  color: white;
  position: relative;
}

.quoteTextBlock h2::before{
  content: "\201C";
  position: absolute;
  left: -25px;
  right: 0;
}
