.quoteBlockContainer {
  display: flex;
  align-items: flex-end;
}

.container{
  margin-bottom: 50px;
}

.quoteTextBlock {
  margin-bottom: 20px;
  text-align: left;
  align-items: flex-start;
  width: 100%;
}

.quoteTextBlock h2{
  color: white;
  position: relative;
}

.quoteTextBlock h2::before{
  content: "\201C";
  position: absolute;
  left: -25px;
  right: 0;
}

@media only screen and (min-width: 640px) {
  .quoteTextBlock {
    width: 70%;
  }

  .quoteBlockContainer {
    align-items: center;
  }

  .container{
    margin-bottom: 0;
  }
}


@media only screen and (min-width: 840px) {
  .quoteTextBlock {
    width: 50%;
  }
}