@font-face {
  font-family: 'MaisonNeueBold';
  src: url('../assets/fonts/MaisonNeue/MaisonNeue-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaisonNeueBook';
  src: url('../assets/fonts/MaisonNeue/MaisonNeue-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaisonNeueMedium';
  src: url('../assets/fonts/MaisonNeue/MaisonNeue-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 40px;
  }

  p{
    font-size: 20px;
  }

  a, span {
    font-size: 11px;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 32px;
  }

  p{
    font-size: 18px;
  }

}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 33px;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
code,
em,
img,
small,
strong,
sub,
sup,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
time,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object {
  max-width: 100%;
}

ul {
  list-style: none;
}

input,
select {
  vertical-align: middle;
}


strong {
  font-weight: bold;
}

label,
input[type="file"],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  margin: 0;
  border: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a {
  cursor: pointer;
}

button:focus {outline:0;}

.slick-track{
  background-color: #1B1B21;
}
.slick-dots.terminal-dots {
  bottom: 9px;
}

.slick-dots.terminal-dots li{
  margin: 0;
}
.slick-dots.terminal-dots li button::before{
  font-size: 11px;
  color: #D8D8D8;
  opacity: 0.37;
}

.slick-dots.terminal-dots li.slick-active button::before{
  color: #FF4343;
  opacity: 1;
}
