.container {
  text-align: center;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.description{
  margin-bottom: 19px;
  display: flex;
  justify-content: center;
}

.description:after {
  content: "";
  display: table;
  clear: both;
}

.headline {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.headline:after {
  content: "";
  display: table;
  clear: both;
}

.body {
  max-width: 610px;
  margin: 0 auto;
  margin-bottom: 35px;
  color: #7B7B7B;
  opacity: 1;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.body:after {
  content: "";
  display: table;
  clear: both;
}